.beach {
    height: 275px;
    width: auto;
    border-radius: 10px;
    float: none;
    margin-top: 0px;
    padding: 0px;
    /*width: auto;*/
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .logo {
    height: 50px;
    padding: 0px;
    margin-top: 30px;
    margin-left: 0px;
    
  }

  body {
    /* background-image: url("/images/hellodarkness.jpg"); */
    background-position: center center;;
    margin-right: 40px;
    margin-left: 40px;
    background-color: #d1bf8f
    /*display: block;
    width: auto;*/
  }

  .sub {
    font-size: 30px;
    color: aliceblue;
    font-family: "Montserrat";
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .copy {
    font-size: 25px;
    color: aliceblue;
    font-family: "Montserrat";
    text-align: justify;
    margin-bottom: 30px;
  }
  
  .head{
    font-size: 60px;
    color: aliceblue;
    font-family: "Montserrat";
    text-align: left;
    padding: 0px;   
  }


.button{
    font-size: 40px;
    font-family: "Montserrat";
    border: none;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 30px;
}

.column1 {
    float: left;
    width: 50%;
    }

.column2 {
    float: left;
    width: 25%;
    }
    
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    }

  h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  h2{
    text-align: center;
    color: #d1bf8f
  }

  .jumbotron{
    background-color: #243826;

  }
  p{
    color: #d1bf8f;

  }

  .btn{
    background-color: #d1bf8f
  }

  li{
    color:  white


  }