body {
  background-color: #000000;
}

#container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#faq h1 {
  text-align: center;
  margin: 50px 0 !important;
  font-family: sans-serif;
}

/* Style the buttons that are used to open and close the accordion panel */
#faq .accordion {
  background-color: #758f3a;
  color: #000000;
  cursor: pointer;
  height: 125%;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
#faq .active,
.accordion:hover {
  background-color: #d1bf8f;
}

/* Style the accordion panel. Note: hidden by default */
#faq .panel {
  padding: 0 18px;
  background-color: #9bacdc;
  display: none;
  overflow: hidden;
}

#faq .accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  background-color: #c9d2ec;
}

#faq .active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  background-color: #e8eeff;
}

.panel p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
}

.parallax {
  /* The image used */
  background-image: url("/images/nature2.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

h1 {
  font-size: 70px;
  color: white;
  background-color: rgba(18, 79, 8, 0.733);
  padding: auto;
}
