/* Styling for Org Landing Page */

:root{
    --backgroundcolor: #515912

}

body{
    background: var(--backgroundcolor);
    margin: 40px;
    padding: 0;
}


.column {
float: left;
width: 50%;
margin-left: 0px;
padding-right: 20px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.jumbotron{
	background-color: #250902;
	padding: 25px;
	color: white;
}